@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #9f9f9f;
    font-size: 1.6rem;
    color: white;
}

header {
    min-height: 5%;
    height: fit-content;
    background: linear-gradient(#595959, #9f9f9f);
}

.banner {
    margin: 0 auto 0;
    display: block;
}

header .banner {
    width: 85%;
    bottom: -0.3px;
    position: relative;
    z-index: 10;
}

.main-navigation .banner, .main-content .banner {
    width: 100%;
    top: 0;
    outline: none;
    border: none;
}

.main-content {
    overflow: auto;
    margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title {
    color: white;
    font-size: 3.5rem;
}

.pink {
    color: #fc6eba;
}

.main-content {
    width: 85%;
    background: black;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    height: fit-content;
    min-height: 80%;
    block-size: fit-content;
    padding: 0 0 10px;
}

.main-navigation {
    color: white;
    z-index: 1000;
    overflow: hidden;
    height: fit-content;
}

ul {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}

li {
    font-size: 1.4rem;
}

.main-navigation li {
    float: left;
}

.main-navigation ul {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto 0;
}

.main_banner_container {
    position: absolute;
    height: 20px;
    z-index: -1;
    width: 100%;
}

a:visited, a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.main-image {
    display: block;
    margin: 10px auto 0;
    max-height: 100%;
    width: 90%;
}

.blog-description {
    padding: 20px;
    line-height: 2rem;
    font-size: 1.8rem;
}

.divider {
    width: 80%;
}

footer {
    padding: 10px 20px 0;
    color: black;
    margin: 0 0 20px;
}

.news-container {
    position: relative;
    margin: 30px 0 0;
}

.order i {
    cursor: pointer;
}

.news-container {
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: 2fr;
}

.news-navigation .year {
    color: pink;
}

div.news > * {
    margin: 10px 0 0;
}

.news .date {

}

.navigation-divider {
    margin: 0 10px 0;
}

th, td {
    padding: 5px;
}

div.tag, div.meter {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 2fr;
    margin: 0 0 20px;
}

div.meter {
    display: grid;
}

.fa-x {
    cursor: pointer;
}

.tags-container.tags-categories {
    float: left;
}

.bold {
    font-weight: 800;
}

.leaflet-container {
    height: 480px !important;
    width: 720px !important;
    position: absolute !important;
}

.images-container {
    width: 100%;
    float: left;
}

.images-container img {
    object-fit: cover;
    width: 80%;
    position: relative;
    float: left;
    margin: 10px 0 0 0;
}
