<!DOCTYPE html>
<html lang="pl">
{{> head }}
<body>

{{> header }}

<main class="main-content">
    {{> admin_nav }}

    {{> banner_in_main }}

    <div class="news-container">

        <nav class="news-navigation">
            <div>
                <span>
                    Zalogowany jako {{ username }}.
                </span>
                <br>

                <span>
                    <a href="api/v1/users/logout">Wyloguj sie.</a>
                </span>
            </div>
        </nav>

        <div class="news">
            <h3>Panel administracyjny</h3>

            <table class="news">
                <tr>
                    <td>Nazwa</td>
                    <td>Data</td>
                </tr>
            </table>
        </div>
    </div>
</main>

{{> footer }}

{{> scriptsSource }}

<script>


    async function main() {
        const news = await NewsController.getNews();
        const newsTableBody = document.querySelector(".news tbody");

        news.forEach(newsGroup => {
            newsGroup
                .news
                .forEach(news => new NewsTableRowElement(news).render(newsTableBody));
        });
    }

    main();
</script>

</body>
</html>
