<!DOCTYPE html>
<html lang="pl">
{{> head }}
<body>

{{> header }}

<main class="main-content">
  {{> admin_nav }}

  {{> banner_in_main }}

  <div class="news-container">

    <nav class="news-navigation">
      <div>
        <span>
            Zalogowany jako {{ username }}.
        </span>
        <br>

        <span>
            <a href="api/v1/users/logout">Wyloguj sie.</a>
        </span>
      </div>
    </nav>

    <div class="news">

      <header style="display: grid; grid-template-columns: repeat(2, 1fr)">
        <div>
          <h3>Zdjecia</h3>
        </div>
        <div>
          <button class="button add-image">Dodaj</button>
        </div>
      </header>

      <article class="content">
        <table>
          <thead>
          <tr>
            <td>Nazwa</td>
            <td>Usun</td>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </article>

    </div>
  </div>
</main>

<div class="overlay"></div>
<div class="modal">
  <header>
    <h2 style="padding: 5px">
      Dodaj zdjecie
    </h2>
  </header>

  <main>

    <form action="" enctype="multipart/form-data" method="POST">

      <label>
        Wybierz zdjecia

        <input multiple name="images[]" type="file">
      </label>

      <button>Dodaj</button>

    </form>

  </main>
</div>

{{> footer }}

{{> scriptsSource }}

<script>

  const content = document.querySelector("article.content tbody");
  const params = new URLSearchParams(window.location.search);
  const newsId = params.get("news_id");
  const openModalButton = document.querySelector(".add-image");
  const addImageForm = document.querySelector("form");

  const modal = document.querySelector(".modal");
  const overlay = document.querySelector(".overlay");

  openModalButton.addEventListener("click", () => {
    overlay.style.display = "block";
    modal.style.display = "block";
  });

  overlay.addEventListener("click", () => {
    overlay.style.display = "none";
    modal.style.display = "none";
  })

  addImageForm.action = `${Configuration.BASE_URL}/api/v1/images/news/${newsId}`;

  async function main() {
    const images = await NewsController.getNewsImages(newsId);

    for (const image of images) {
        const el = document.createElement("tr");

        const nameElCol = document.createElement("td");
        nameElCol.innerText = image.name;

        const deleteCol = document.createElement("td");
        const deleteButton = document.createElement("button");

        deleteButton.textContent = "USUN";
        deleteButton.addEventListener("click", () => {
            const url = `${Configuration.BASE_URL}/api/v1/images/news/${image.newsId}/image/${image.id}`;

            fetch(url, {method: "DELETE"});
            window.location.reload();
        });


        deleteCol.append(deleteButton);

        el.append(nameElCol, deleteCol);

        content.append(el);
    }
  }

  main().then()

</script>

</body>
</html>
