<html>

<!-- __HEAD__ -->

<body>

<!-- __HEADER__ -->

<main class="main-content">
    <!-- __NAV__-->

    <!-- __BANNER_IN_MAIN__ -->

    <div class="main_image">
        <img alt="niemcy" class="main-image" src="Resources/Images/deutch.png">
    </div>

    <article class="blog-description">
        <span class="pink">Rowerowe</span> - to blog upamiętniający moje wyjazdy rowerowe począwszy od roku 2016r. gdy
        ów blog powstał. Początkowo do (09.07) był wstanie budowy - użyty przykładowy layout z innego projektu - służył
        tylko do utrzymania treści - aby tu coś było i coś działało - abym miał dostęp z poziomu PA do możliwości
        wstawiania nowych wpisów i edytowania już istniejących.

        <br><br>

        Każdy wpis skada się ze stałego schematu zapisu informacji - jest to informacja o dacie wyjazdu, jej nr
        (liczonego od początku) - sam krótki / dłuższy opis trasy, co wg mnie najważniejsze: informacje statystyczne i
        aktualnie panująca w dniu wyjazdu informacja pogodowa. Informacje statystyczne odwzrowują moje rekordy - ilość
        przejechanych km, średnie itd. W podsumowaniu rocznym - które będzie wypadać każdego roku na 31.12. - będzie
        umieszczone podsumowanie roku, najważniejsze wydarzenia, dane statystyczne - oraz umieszczany krótki - w
        zależności od ilości posiadanych materiałów - zbiorczy film z całego roku (powinien być długości 5-10 min).

        <br><br>
        Każdy wpis zawiera również krótką notke podsumowjącą trasę oraz wybrane ciekawsze zdjęcia z trasy - nie
        publikuję wszystkich materiałów - tylko konkretne wybrane, które uznałem za stosowniejsze i ciekawsze - co ma
        zawsze związek z opisywaną historią - bowiem tutaj każdy nawet krótki wyjazd niesie za sobą jakąś historię, coś
        się zawsze wydarzyło.

        <br><br>

        Jako ciekawosktę na koniec - wspomne, że wraz z dniem opublikowania bloga - już tak oficjalnie - co wypada
        09.07.2016r - przebieg mojego roweru Aurelii - jest na poziomie 4582,31 km ! - rekord liczony w zasadzie od
        2015r. W 2014r - pierwsze km na rowerze wyniosły zaledwie 276 km.
        Zapraszam do poczytania, i skomentowania :)

        <br>
        <hr class="divider">
        <br>
    </article>
</main>

<!-- __FOOTER__ -->

</body>
</html>
