<nav class="main-navigation">
  <img alt="" class="banner banner_inner_main" src="Resources/Images/Banner/banner_2.png">
  <ul>
    <li>
        <a href="">STRONA GLOWNA</a>
        <span class="navigation-divider">|</span>
    </li>
      <li>
          <a href="news">NEWSY</a>
          <span class="navigation-divider">|</span>
      </li>
      <li>
          <a href="tags">TAGI</a>
          <span class="navigation-divider">|</span>
      </li>
      <li>
          <a href="contact">KONTAKT</a>
      </li>
  </ul>

    <script>
        "use strict";

        const currentHref = document.location.href.replace(location.search, "");

        document.querySelectorAll("li a").forEach(el => {
            if (el.href === currentHref) {
                el.classList.add("pink")
            }
        });
    </script>
</nav>
