<nav class="main-navigation">
  <img alt="" class="banner banner_inner_main" src="Resources/Images/Banner/banner_2.png">
  <ul>
    <li>
        <a href="">STRONA GLOWNA</a>
        <span class="navigation-divider">|</span>
    </li>
      <li>
          <a href="news?id=14ddb273-32b5-11ed-b21d-4cedfb731ba1">NEWSY</a>
          <span class="navigation-divider">|</span>
      </li>
      <li>
          <a href="tags">TAGI</a>
          <span class="navigation-divider">|</span>
      </li>
    <li>
      <a href="api/v1/news/">KONTAKT</a>
    </li>
  </ul>
</nav>
