<!DOCTYPE html>
<html lang="pl">

{{> head }}

<body>

{{> header }}

<main class="main-content">
    {{> nav }}

    {{> banner_in_main }}

    <div class="news-container">

        <nav class="news-navigation">
            <div>

                <span class="order order-by-date">
                    <i class="fa-regular fa-calendar" style="color: #da2e44;"></i>
                    <i class="fa-light fa-arrow-up"></i>
                    <i class="fa-light fa-arrow-down"></i>
                </span>

                <span class="order oder-by-ride">
                    <i class="fa-light fa-bicycle" style="color: #dd2d43"></i>
                    <i class="fa-light fa-arrow-up"></i>
                    <i class="fa-light fa-arrow-down"></i>
                </span>
                <span class="order oder-by-ride">
                    <i class="fa-regular fa-clock" style="color: #dd2e44"></i>
                    <i class="fa-light fa-arrow-up"></i>
                    <i class="fa-light fa-arrow-down"></i>
                </span>

            </div>

            <div class="news-navigation">

            </div>
        </nav>

        <div class="news">
            <div class="date pink">
            </div>

            <div class="tags-container">
                <span>Tagi:</span>
                <span class="tags">
                </span>
            </div>

            <article class="news-content">
            </article>
        </div>
    </div>
</main>

{{> footer }}

{{> scriptsSource }}

<script>
    const newsNavigationListElement = document.querySelector(".news-navigation");
    const newsContentElement = document.querySelector(".news-content");
    const tagsContainer = document.querySelector(".tags");

    /**
     * @param {NewsGroup[]} news
     * */
    const showNewsNavigation = (news) => {
        news.forEach(news =>
            new YearContainerElement(news).render(newsNavigationListElement)
        );
    }

    /**
     * @param {string[]} tags
     * */
    const showTags = (tags) => {
        tags.forEach(tag => new TagElement(tag.tag).render(tagsContainer))
    }

    /**
     * @param {News} news
     * */
    const showNews = async ({description, date, id}) => {
        const tags = await NewsController.getNewsTags(id);
        showTags(tags);

        newsContentElement.innerHTML = description;
    }

    const main = async () => {
        const allNews = await NewsController.getNews();

        const urlParams = new URLSearchParams(window.location.search);
        const streamId = urlParams.get("id");
        const latestNewsId = allNews[0].news[0].id;

        if (!streamId) {
            window.location.replace(`news?id=${latestNewsId}`)
        }

        showNewsNavigation(allNews);

        const actualNews = await NewsController.getNewsById(urlParams.get("id"));

        showNews(actualNews);
    }

    main()
</script>
</body>
</html>
