<!DOCTYPE html>
<html lang="pl">

{{> head }}

<body>

{{> header }}

<main class="main-content">
    {{> nav }}

    {{> banner_in_main }}

    <div class="news-container">
        <nav class="news-navigation">
            <div>

                <span class="order order-by-date">
                    <i class="fa-regular fa-calendar" style="color: #da2e44;"></i>
                    <i class="fa-light fa-arrow-up"></i>
                    <i class="fa-light fa-arrow-down"></i>
                </span>

                <span class="order oder-by-ride">
                    <i class="fa-light fa-bicycle" style="color: #dd2d43"></i>
                    <i class="fa-light fa-arrow-up"></i>
                    <i class="fa-light fa-arrow-down"></i>
                </span>
                <span class="order oder-by-ride">
                    <i class="fa-regular fa-clock" style="color: #dd2e44"></i>
                    <i class="fa-light fa-arrow-up"></i>
                    <i class="fa-light fa-arrow-down"></i>
                </span>

            </div>

            <div class="news-navigation">

            </div>
        </nav>

        <div class="news">
            <div class="date pink">
            </div>

            <div class="tags-container">
                <span>Tagi:</span>
                <span class="tags">
                </span>
            </div>

            <article class="news-content">
            </article>
        </div>
    </div>
</main>

{{> footer }}

{{> scriptsSource }}
<script crossorigin=""
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script>
    const CHOSEN_TAG = localStorage.getItem("chosen-tag") ?? null;
    const newsNavigationListElement = document.querySelector(".news-navigation");
    const newsContentElement = document.querySelector(".news-content");
    const tagsContainer = document.querySelector(".tags");
    let currentNews = null;

    /**
     * @param {NewsGroup[]} news
     * */
    const showNewsNavigation = (news) => {
        news.forEach(news =>
            new YearContainerElement(news).render(newsNavigationListElement)
        );
    }

    /**
     * @param {string[]} tags
     * */
    const showTags = (tags) => {
        tags.forEach(tag => new TagElement(tag).render(tagsContainer))
    }

    /**
     * @param {News} news
     * */
    const showNews = async ({description, id}) => {
        const tags = await NewsController.getNewsTags(id);
        showTags(tags);

        newsContentElement.innerHTML = description;
    }

    const main = async () => {
        let allNews = [];

        if (!CHOSEN_TAG) {
            allNews = await NewsController.getNews()
        } else {
            allNews = await NewsController.getNewsByTag(CHOSEN_TAG);
        }

        const urlParams = new URLSearchParams(window.location.search);
        const streamId = urlParams.get("id");
        const latestNewsId = allNews[0].news[0].id;

        if (!streamId) {
            window.location.replace(`news?id=${latestNewsId}`)
        }

        showNewsNavigation(allNews);

        const actualNews = await NewsController.getNewsById(urlParams.get("id"));

        await showNews(actualNews);
        currentNews = actualNews;
    }

    async function renderMap() {
        const mapElement = document.querySelector("mapa");

        const coordinates = await NewsController.getGpsData(currentNews.id);
        const twoFirstPoints = [coordinates[0], coordinates[1]];

        const map = L.map(mapElement).fitBounds(twoFirstPoints);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        L.polyline(coordinates, {color: 'blue'}).addTo(map);
    }

    main().then(renderMap)
</script>
</body>
</html>
