<script src="Client/javascript/models/Tag.js"></script>
<script src="Client/javascript/models/News.js"></script>
<script src="Client/javascript/models/NewsGroup.js"></script>
<script src="Client/javascript/models/Meter.js"></script>
<script src="Client/javascript/models/User.js"></script>

<script src="Client/javascript/elements/MeterElement.js"></script>
<script src="Client/javascript/elements/ElementsUtils.js"></script>
<script src="Client/javascript/elements/YearContainerElement.js"></script>
<script src="Client/javascript/elements/TagElement.js"></script>
<script src="Client/javascript/elements/NewsTableRowElement.js"></script>
<script src="Client/javascript/elements/TagInnerFormElement.js"></script>

<script src="Client/javascript/serializers/NewsSerializer.js"></script>
<script src="Client/javascript/serializers/MetersSerializer.js"></script>
<script src="Client/javascript/serializers/UsersSerializer.js"></script>

<script src="Client/javascript/controllers/NewsController.js"></script>
<script src="Client/javascript/controllers/MetersController.js"></script>
<script src="Client/javascript/controllers/UserController.js"></script>
