<!DOCTYPE html>
<html lang="pl">
{{> head }}
<head>
    <link href="../style/app.css" rel="stylesheet" type="text/css"/>
</head>
<body>

{{> header }}

<main class="main-content">
    {{> nav }}

    {{> banner_in_main }}
    <section class="tags-section">
        <div class="main_image">
            <img alt="niemcy" class="main-image" src="Resources/Images/deutch.png">
        </div>

        <article class="blog-description tags-page">
            <div>
                Aby wybrać kategorię kliknij w wytłuszczoną nazwę związaną z kategorią w danej grupie!
                Wybrany tag: <span class="chosen-tag pink pointer"
                                   onclick="localStorage.removeItem('chosen-tag'); window.location.reload();">brak</span>!
                <br> <br>
            </div>

            <div class="tags-container tags-categories">
            </div>

        </article>
    </section>
</main>

{{> footer}}
{{> scriptsSource }}

<script>

    const tagsContainer = document.querySelector(".tags-container.tags-categories");

    const main = async function () {
        const categories = await NewsController.getTags();
        const chosenTag = localStorage.getItem("chosen-tag") ?? "";

        for (const category of categories) {
            const categoryEl = document.createElement("div");
            const categoryName = document.createElement("div")

            categoryName.textContent = `[${category.category.category}]`;
            categoryName.classList.add("pink")
            categoryEl.append(categoryName, document.createElement("br"));

            for (const tag of category.tags) {
                if (chosenTag === tag.id) {
                    document.querySelector(".chosen-tag").textContent = tag.tag;
                }

                const tagElement = document.createElement("div");
                tagElement.innerHTML = `<b>${tag.tag}</b> = ${tag.descriptor}`;

                tagElement.classList.add("pointer")

                tagElement.addEventListener("click", () => {
                    localStorage.setItem("chosen-tag", tag.id);
                    window.location.reload();
                })

                categoryEl.append(tagElement);
            }


            tagsContainer.append(categoryEl, document.createElement("br"));
        }
    }

    main();

</script>

</body>
</html>
