<!DOCTYPE html>
<html lang="pl">
{{> head }}
<body>

{{> header }}

<main class="main-content">
  {{> nav }}

  {{> banner_in_main }}

  <div class="main_image">
    <img alt="niemcy" class="main-image" src="Resources/Images/deutch.png">
  </div>

  <article class="blog-description">
      <div>
          Aby wybrać kategorię kliknij w wytłuszczoną nazwę związaną z kategorią w danej grupie!
          <br> <br>
      </div>

      <div class="tags">

      </div>
  </article>
</main>

{{> footer}}
{{> scriptsSource }}

<script>

    const tagsContainer = document.querySelector(".tags");

    const behindTagElement = (tag) => {
        const element = document.createElement("div");
        new TagElement(tag).render(element);

        return element;
    }

    const main = async function () {
        const tags = await NewsController.getTags();

        tags.forEach(tag => {
            tagsContainer.append(behindTagElement(tag))
        });
    }

    main();

</script>

</body>
</html>
